nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav {
  display: flex;
  align-items: center;
}
.user-nav span {
  margin-right: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #687695;
  color: white;
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.auth-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-left: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.dropdown-content a {
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  display: block;
}

.dropdown-content button {
  color: white;
  background-color: #333;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

